@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600;700&display=swap');

* {
  padding: 0;
  margin: 0;
  text-decoration: none !important;
  box-sizing: border-box;
  font-family: Heebo;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  min-height: 100vh;
}
/*NAVBAR*/

.navItem{
  list-style: none;
  padding-top: 0px;
  display: inline-block;
  line-height: 100px;
  margin: 0 5px;
}

.navLink{
  color: #000;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 7px 13px;
  border-radius: 3px;
}

.navBar {
  min-height: 90px;
  background-color: #fff;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10%;
  width: 100vw;
  z-index: 100;
}

.navMenu{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 0;
}

.navBranding{
  display: inline-block;
  padding: 0;
}

.logo {
  height: 100px;
  cursor: pointer;
}



.navLink {
  transition: 0.7s ease; 
}

.navLink:hover {
  border-radius: 15px;
  color: #F15953;
  transition: .5s;
}

.hamburger{
  display: none;
  cursor: pointer;
  padding: 0 8%;
}

.bar{
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #000;
}

.main {
 padding-top: 150px;
}

section {
  margin: 0 auto;
}

span.helptext {
  display: none !important;
}


.footer-copyright{
  margin: 0;
  padding: 0;
}

.copyright {
  margin: 5px;
  text-align: center;
  font-size: 10px;
  color: #aaa;
  text-align: center;
}




@media (max-width: 1300px) {
  .hamburger{
    display: block;
  }

  .hamburger.active .bar:nth-child(2){
    opacity: 0;
  } 

  .hamburger.active .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
  } 

  .hamburger.active .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
  } 

  .navMenu{
    position: fixed;
    right: -100%;
    top: 100px;
    gap: 0;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    text-align: center;
    transition: 0.3s;
    padding: 0;
    margin: 0;
  }

  .navItem{
    margin: 0;
    padding: 0;
    line-height: 50px;
  }

  .navLink{
    padding: 0;
  }

  .navMenu.active{
    right: 0 !important;
  }
 
  .actives {
    color: #F15953;
    background: none;
  }

}


