{% extends 'App/base.html' %}

{% block content %}
<main class="container main h-100">
    <div class="row">
        <section class="col-md-4 offset-md-4">
            <form  method='POST' class="card card-body">
                {% csrf_token %}
                <h1 class="text-center">Cambio de Contraseña</h1>
                <p style="color:red; font-weight:bold">{{ error }}</p>              
                <div class="mb-3">
                    <label for="password1" class="text-center">Contraseña</label>
                    <input type="password" name="password1" class="form-control bg-light border-1 small" id="password1"
                        placeholder="Ingrese su nueva Contraseña..." required/>
                </div>
                <div class="mb-3">
                    <label for="password2" class="text-center">Comfirme su contraseña</label>
                    <input type="password" name="password2" class="form-control bg-light border-1 small" id="password2"
                        placeholder="Comfirme su nueva contraseña..." required/>
                </div>
                <button class="btn btn-primary">Cambiar contraseña</button>
            </form>
        </section>
    </div>
</main>
{% endblock %}