{% extends 'App/base.html' %}

{% block content %}
<main class="container-xxl main">
    <section class="card card-body">
        <h1 class="display-1 text-center">Home</h1>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corporis quos dignissimos dolore dolorum aliquam ut
            placeat adipisci ea consequatur aspernatur, magni officiis, dicta in, possimus facilis nihil. Voluptatem,
            cum explicabo.Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corporis quos dignissimos dolore
            dolorum aliquam ut placeat adipisci ea consequatur aspernatur, magni officiis, dicta in, possimus facilis
            nihil. Voluptatem, cum explicabo.Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corporis quos
            dignissimos dolore dolorum aliquam ut placeat adipisci ea consequatur aspernatur, magni officiis, dicta in,
            possimus facilis nihil. Voluptatem, cum explicabo.Lorem ipsum dolor, sit amet consectetur adipisicing elit.
            Corporis quos dignissimos dolore dolorum aliquam ut placeat adipisci ea consequatur aspernatur, magni
            officiis, dicta in, possimus facilis nihil. Voluptatem, cum explicabo.Lorem ipsum dolor, sit amet
            consectetur adipisicing elit. Corporis quos dignissimos dolore dolorum aliquam ut placeat adipisci ea
            consequatur aspernatur, magni officiis, dicta in, possimus facilis nihil. Voluptatem, cum explicabo.Lorem
            ipsum dolor, sit amet consectetur adipisicing elit. Corporis quos dignissimos dolore dolorum aliquam ut
            placeat adipisci ea consequatur aspernatur, magni officiis, dicta in, possimus facilis nihil. Voluptatem,
            cum explicabo.Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corporis quos dignissimos dolore
            dolorum aliquam ut placeat adipisci ea consequatur aspernatur, magni officiis, dicta in, possimus facilis
            nihil. Voluptatem, cum explicabo.Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corporis quos
            dignissimos dolore dolorum aliquam ut placeat adipisci ea consequatur aspernatur, magni officiis, dicta in,
            possimus facilis nihil. Voluptatem, cum explicabo.</p>
        <div class="text-center">
            <a class="btn btn-secondary" href="{% url 'signup' %}">Registrate</a>
            <a class="btn btn-dark" href="{% url 'signin' %}">Ingresar</a>
        </div>

    </section>
</main>
{% endblock %}