{% extends 'App/base.html' %}

{% block content %}
<main class="container main">
  <div class="row">
    <div class="col-md-6 offset-md-3"> 
      <div class="card card-body">
        {% if count == 0 and tasks_completed %}
          <h1 class="text-center display-4">Tareas Pendientes</h1>
          <h5>Aun no tienes tareas registradas, puedes registrar una en Nueva Tarea!</h5>
          <a class="btn btn-primary mb-2" href="{% url 'tasks_completed' %}">Tareas Realizadas</a>
          <a class="btn btn-primary mb-2" href="{% url 'create_tasks' %}">Nueva Tarea</a>
        {% elif search_input %}       
          <h1 class="text-center display-4">Resultado de la Busqueda</h1>
          <h5>se registra{{ count|pluralize:"ron" }} <i>{{count}}</i> tarea{{ count|pluralize:"s" }} sin completar!</h5>
          <a class="btn btn-primary mb-2" href="{% url 'tasks' %}">Tareas Pendientes</a>
          <a class="btn btn-primary mb-2" href="{% url 'tasks_completed' %}">Tareas Realizadas</a>
          <a class="btn btn-primary mb-2" href="{% url 'create_tasks' %}">Nueva Tarea</a>
        {% elif tasks_completed %}
          <h1 class="text-center display-4">Tareas Pendientes</h1>
          <h5>Tienes <i>{{count}}</i> tarea{{ count|pluralize:"s" }} sin completar!</h5>
          <a class="btn btn-primary mb-2" href="{% url 'tasks_completed' %}">Tareas Realizadas</a>
          <a class="btn btn-primary mb-2" href="{% url 'create_tasks' %}">Nueva Tarea</a>
        {% elif count == 0 and not tasks_completed %}
          <h1 class="text-center display-4">Tareas Realizadas</h1>
          <h5>Aun no tienes tareas Realizadas!</h5>
          <a class="btn btn-primary mb-2" href="{% url 'tasks' %}">Tareas Pendientes</a>
          <a class="btn btn-primary mb-2" href="{% url 'create_tasks' %}">Nueva Tarea</a>
        {% else %}
          <h1 class="text-center display-4">Tareas Realizadas</h1>
          <h5>Tienes <i>{{count}}</i> tarea{{ count|pluralize:"s" }} completadas!</h5>
          <a class="btn btn-primary mb-2" href="{% url 'tasks' %}">Tareas Pendientes</a>
          <a class="btn btn-primary mb-2" href="{% url 'create_tasks' %}">Nueva Tarea</a>
        {% endif %}
        <form  class="d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search pt-3 pb-3" method="POST">
          {% csrf_token %}
          <div class="input-group">
              <input type="text" class="form-control bg-light border-1 small" placeholder="Buscar..." name="buscar" value="{{ request.POST.buscar }}">
              <div class="input-group-append">
                  <button class="btn btn-primary" type="submit"> Buscar</button>
              </div>
          </div>
        </form>
        <ul class="list-group">
          {% for task in tasks %}
          <a class="list-group-item mb-2" href="{% url 'tasks_detail' task.id %}">
            <header class="d-flex justify-content-between">
              {% if task.important %}
              <h5 class="fw-bold text-danger">{{task.title}}</h5>
              {% else %} 
              <h5 class="text-warning">{{task.title}}</h5>   
              {% endif %}
              <p class="text-primary fw-bold">by- {{task.user.username}}</p>
            </header>  
            <p class="text-secondary">{{task.description}}</p>
            <p class="text-end fs-6 text-muted">Creado: {{task.created | date:'j-M-Y h:m'}}</p>
            {% if not tasks_completed %}
            <p class="text-end fs-6 text-muted">Terminada: {{task.datecompleted | date:'j-M-Y h:m'}}</p>
            {% endif %}
          </a>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</main>
{% endblock %}